/* Style */

html body .container *{
    overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: url("media/background.svg") no-repeat top 20% left 0px;
  background-size: 97%;
  background-repeat: repeat-y;
  min-height: 615px;
  min-width: 650px;
}
/* 
body *:hover {
  border: 1px solid green;
} */

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.container {
  width: 80%;
  height: 90%;
  justify-content: space-evenly;
}

.search-bar-container {
  height: 0;
}

.box {
  border-radius: 50px;
  color: #312e3a;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
}

.hide {
  display: none;
}

.results-container {
  height: 0;
}

.animation-hide{
    transition: all 0.5s linear;
    height: 0;
}

.animation-show-results{
    transition: all 0.5s linear;
    height:  82.5%;
}

.animation-show-search-bar{
    transition: all 1s linear;
    height: 12.5%;
}

#search {
  border: none;
  width: 80%;
  height: 100%;
  background-color: transparent;
}

textarea:focus,
input:focus {
  outline: none;
}

.form {
  width: 90%;
  height: 100%;
  font-size: 300%;
}

button {
  height: 100%;
  background-color: transparent;
  font-size: 100%;
  border: transparent;
}

button i {
  font-size: 100%;
}

#results-container ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: start;
  width: 100%;
}

#results-container ul li {
  width: 90%;
  margin: 0;
  padding: 0;
  height: 10%;
  justify-content: start;
  border-bottom: 0.5px solid black;
}

.ticker {
  margin-left: 3px;
}
