body {
  background: url("../media/backgroun2.svg") no-repeat top 20% left 0px;
}

#main {
  height: 0;
}

.animation-main {
  transition: all 0.5s linear;
  height: 90% !important;
}

#results-container {
  height: 82.5%;
  /* because bootstrap container has a default */
  max-width: none;
}

#search-bar-container {
  height: 12.5%;
}

#results {
  width: 95%;
  height: 95%;
}

.row-1 {
  width: 100%;
  height: auto;
  justify-content: start;
}

#spinner {
  margin-left: 20%;
}

#img {
  height: auto;
  width: auto;
}

#img img {
  height: 100%;
}

.row-2 {
  width: 100%;
  height: 10%;
  justify-content: start;
}

.row-2 h4 {
  font-size: 3vh;
}

.empty-left {
  width: 9%;
  height: 100%;
}

.row-3 {
  width: 100%;
  height: 25%;
  justify-content: start;
}

.row-3 h6 {
  font-size: 1.75vh;
}

#about {
  height: auto;
  width: 90%;
}
.row-3 .empty-right {
  width: 10%;
  height: 100%;
}

.row-4 {
  height: 45%;
  width: 100%;
  justify-content: start;
  align-items: flex-start;
}
.row-4 #chartContainer {
  margin: 0;
  padding: 0;
  height: 100%;
}

.row-4 .buttons-container {
  height: 80%;
  width: 15%;
  justify-content: space-evenly;
  font-size: 1.6vw;
}

.row-4 .buttons-container .btn-container {
  width: 90%;
  height: 20%;
  border-radius: 50px;
  background-color: white;
}
@media screen and (max-width: 465px) {
  .row-1 h1 {
    font-size: 3vh;
  }

  .row-2 h4 {
    font-size: 2vh;
  }

  .row-3 h6 {
    font-size: 1.75vh;
  }
}
@media screen and (max-width: 320px) {
  .row-3 h6 {
    font-size: 1.25vh;
  }
}
